Source: lucida-openephyra
Section: misc
Priority: optional
Maintainer: Luca Vercelli <luca.vercelli.to@gmail.com>
Build-Depends: debhelper (>=9), 
 make, default-jdk (>=1.8), ant, quilt
Standards-Version: 3.9.8
Homepage: https://github.com/claritylab/lucida
#Vcs-Git: git://anonscm.debian.org/collab-maint/lucida.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/lucida.git

#
#
# FIXME: this package contains some jars :(
#
#
Package: lucida-openephyra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 mongodb, default-jre (>=1.8)
Provides: lucida-quesionanswering
Description: Speech and vision based intelligent personal assistant
 Lucida is a speech and vision based intelligent personal assistant inspired by Sirius.
 Lucida is made up of a set of back-end services, plus a "command center" that calls the correct service
 according to the user request.
 .
 This package contains the default question-answering module, i.e. OpenEphyra.

