Source: lucida-core
Section: misc
Priority: optional
Maintainer: Luca Vercelli <luca.vercelli.to@gmail.com>
Build-Depends: debhelper (>=9), 
 make, thrift-compiler, python-thrift, quilt
Standards-Version: 3.9.8
Homepage: https://github.com/claritylab/lucida
#Vcs-Git: git://anonscm.debian.org/collab-maint/lucida.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/lucida.git

Package: lucida-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 mongodb, memcached, python,
#python_requirements (not sure which are needed):
 python-flask, python-flask-login, python3-flaskext.wtf, python-jinja2, python-markupsafe, python-wtforms,
 python-werkzeug, python-backports-abc, python-backports.ssl-match-hostname,
 python-cached-property, python-certifi,
 python-defer,
 python-scikits-learn, python-scipy, python-numpy, python-reportlab,
 python-pymongo, python-pandas, python-itsdangerous, python-greenlet, python-docker, python-wheel, python-six,
 python-xdg, python-tornado, python-serial, python-urllib3,
 python-thrift, python-singledispatch, python-memcache
Description: Speech and vision based intelligent personal assistant
 Lucida is a speech and vision based intelligent personal assistant
 inspired by Sirius. Lucida is made up of a set of back-end services,
 plus a "command center" that calls the correct service according to the
 user request.
 .
 This package contains the command-center (i.e. core) module.

